<fieldset>
  <legend>Input</legend>
  <form name="form" action="x509" method="post">     <!--  Parameter? -->
    <p>Paste in a Base64-encoded certificate:</p>
    <label title="Paste the certificate here">
      <textarea rows="10" cols="80" name="input" class="input"><%= defined?(input) ? input : "" %></textarea>
    </label>
    <br/>
    <label title="The certificate in the textarea will be decoded">
      <input type="submit" name="process" value="Decode"/>
    </label>
  </form>
</fieldset>
<% if defined? output %>
  <fieldset class="cryptarea">
    <legend>Output</legend>
      <fieldset class="cryptarea">
        <legend>Certificate</legend>
        <table>
          <tr><td>subject</td><td><%= cert.subject %></td></tr>
          <tr><td>issuer</td><td><%= cert.issuer %></td></tr>
          <tr><td>validFrom</td><td><%= cert.not_before %></td></tr>
          <tr><td>validTo</td><td><%= cert.not_after %></td></tr>
          <tr><td>version</td><td><%= cert.version + 1 %></td></tr>
          <tr><td>serialNumber</td><td><%= cert.serial %></td></tr>
          <tr><td>md5Thumbprint</td><td><%= cert.md5_thumbprint %></td></tr>
          <tr><td>sha1Thumbprint</td><td><%= cert.sha1_thumbprint %></td></tr>
          <% if cert.extensions.length > 0 %>
          <tr><td>extensions</td>
              <td><table>
                <% cert.extensions.each do |e| %>
                <tr><td><%= e.oid %></td><td><%= e.value %></td></tr>
                <% end %>
              </table></td>
          </tr>
          <% end %>
        </table>
        <pre><%= cert.to_text %></pre>
      </fieldset>
  </fieldset>
<% end %>
